/.git
/.yarn
/benchmark/**/dist
/coverage
# Ignore fixtures
/packages/typescript-to-proptypes/test/*/*
/test/bundling/fixtures/**/*.fixture.js
# just an import that reports eslint errors depending on whether the fixture (which is not checked in) exists
/test/bundling/fixtures/create-react-app/src/index.js
/test/bundling/fixtures/gatsby/.cache
/test/bundling/fixtures/gatsby/public
/tmp
.next
build
node_modules
babel.config.js
.eslintrc.js
